@inherits LayoutComponentBase

<header style="background-image: url(images/buddha.jpg);" class="main-header">
	<div class="vertical">
		<div class="inner">
			<h1>The nerd and the philosopher</h1>
			<h2>thoughts about programming and life</h2>
		</div>
	</div>
</header>

<main class="content">
	@Body
</main>

<footer class="clearfix">
	<section class="copyright">
		<a href="http://dezwartenco.azurewebsites.net">The nerd and the philosopher</a>&nbsp; &copy; 2020
	</section>
	<section class="poweredby">Created with Blazor</section>
</footer>
